<% if @user.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <ul>
      <% @user.errors.full_messages.each do |message|%>
        <li><%= message %></li>
        <% end %>
    </ul>
  </div>
<% end %>
<br>

<div class="row">
  <div class="col-xs-4 col-xs-push-4 form">
    <h1>Sign up to Instaclone</h1>
    <p>CSee your friends' pictures</p>
    <%= form_with(model: @user, local: true) do |form|%>
      <p><%= form.text_field :name, placeholder: 'name', class: "log-in-tag" %></p>
      <br>
      <p><%= form.email_field :email, placeholder: 'email', class: "log-in-tag" %></p>
      <br>
      <p><%= form.password_field :password, placeholder: 'password', class: "log-in-tag" %></p>
      <br>
      <p><%= form.password_field :password_confirmation, placeholder: 'password_confirmation', class: "log-in-tag" %></p>
      <br>
      <p><%= form.file_field :icon, placeholder: 'icon', class: "log-in-tag" %></p>
      <br>
      <div class="row">
        <div class="col-xs-12 form-btn">
          <%= form.submit "Create my account" %>
        </div>
      </div>
    <% end %>
    <%= link_to 'Back', root_path %>
    <hr>
    <p>Already have an account？？<%= link_to 'Login', new_session_path %></p>
  </div>

  <div class="row">
    <div class="col-xs-12 space">
    </div>
    <div class="col-xs-12 space">
    </div>
    <div class="col-xs-12 space">
    </div>
    <div class="col-xs-12 space">
    </div>
  </div>
