<h3>Send the following...</h3>
<%= form_with(model: @post, url: posts_path, local: true) do |form| %>
  <%= @post.posts %>
  <%= form.hidden_field :posts %>
  <%= image_tag(@post.image.url) if @post.image && @post.image.url %>
  <%= form.hidden_field :image_cache %>
  <%= form.submit "submit" %>
<% end %>

<%= form_with(model: @post, url: new_post_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :posts %>
  <%= form.hidden_field :image_cache %>
  <%= form.submit "back", name:'back' %>
<% end %>
