<!DOCTYPE html>
<html>
  <head>
    <title>Cloneinsta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header_container">


      <div class="logo">
      </div>
        <% if logged_in? %>
          <ul>
          <%= link_to image_tag("https://img.icons8.com/cute-clipart/64/000000/name.png"), user_path(current_user.id) %>
          <%= link_to image_tag("https://img.icons8.com/doodle/48/000000/new--v1.png"), new_post_path %>
          <%= link_to image_tag("https://img.icons8.com/clouds/100/000000/online-shop-favorite.png"), favourite_user_path(current_user.id) %>
          <%= link_to image_tag("https://img.icons8.com/fluent-systems-filled/24/000000/mac-os.png"), session_path(current_user.id), method: :delete %>
          </ul>
          <% else %>
          <ul>
            <%= link_to image_tag("https://img.icons8.com/ios-filled/50/000000/sign-in-form-password.png"), new_session_path %>
            <%= link_to image_tag("https://img.icons8.com/color/48/000000/group.png"), new_user_path %>
          </ul>
      <% end %>
    </header>
    <% flash.each do |key, value| %>
    <div class="alert alert-danger" role="alert">
      <%= content_tag(:div, value, class: "#{key}") %>
    </div>
    <% end %>
    <%= yield %>
  </body>
</html>
